# Name of your application. Used to uniquely configure containers.
service: gruvi_challenge_app_frontend

image: DOCKER_USERNAME/gruvi_challenge_app_frontend

servers:
  web:
    hosts:
      - SSH_PROFILE
    labels:
      app.type: gruvi-challenge

# Credentials for your image host.
registry:
  username: DOCKER_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

ssh:
  user: SSH_USER
  port: SSH_PORT

# Configure builder setup.
builder:
  arch: amd64
  remote: SSH_PROFILE
  context: .
  cache:
    options: --no-cache
  args:
    GIT_REV: <%= `git rev-parse --short HEAD` %>
    BUILD_DATE: <%= `date -u +"%Y-%m-%dT%H:%M:%S %Z"` %>

env:
  BASE_BACKEND_API_URL: http://gruvi_challenge_app_backend:3000/api
proxy:
  ssl: true
  forward_headers: true
  hosts:
    - gruvi-movie-search.duckdns.com
  app_port: 3000
  healthcheck:
    interval: 60
    path: /api/health
    timeout: 60

primary_role: web
