version: "3.5"
name: gruvi_challenge_devcontainer

services:
  # Primary application service
  app:
    user: "vscode:vscode"
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        - PORT=${PORT}
        - RUBY_VERSION=${RUBY_VERSION}
        - NODE_JS_VERSION=${NODE_JS_VERSION}
        - BUNDLE_VERSION=${BUNDLE_VERSION}
    ports:
      - ${PORT}:${PORT}
    env_file:
      - path: ./.env
        required: true
    volumes:
      - ..:/app:cached
      - $HOME/.ssh/:/home/vscode/.ssh/
      - $HOME/.ssh/:/root/.ssh/
      - $HOME/.aws/:/root/.aws/
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
    networks:
      - gruvi_challenge_network_shared

  # PostgreSQL database service
  postgres:
    image: postgres:12-alpine
    env_file:
      - path: ./.env.postgres
        required: true
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - gruvi_challenge_network_shared

  # Redis service
  redis:
    image: redis:6-alpine
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - redis_data:/data
    networks:
      - gruvi_challenge_network_shared

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  opensearch_data:
    driver: local

networks:
  gruvi_challenge_network_shared:
    name: gruvi_challenge_network_shared
    external: false
